@model IEnumerable<QuanLyShopThoiTrang.Models.Product>

@{
    ViewBag.Title = "SanPhamNew";
    Layout = "~/Views/Shared/_LayoutThoiTrang.cshtml";
}
<center>
    <h2>New</h2>
</center>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category_id)
        </th>
        <th>
            <img src="~/Image/NonGiay/@Html.DisplayNameFor(model => model.ImageSP)" alt="Alternate Text" />
        </th>
        <th></th>
    </tr>
    <div class="new-content">
        <center>
            <div class="row new-sp">
                @foreach (var item in Model)
                {
                    <div class="col-6 col-md-3 card-san-pham">
                        <div class="link-san-pham">
                            <a class="link-click" href="@Url.Action("Details", "Product", new { maSP = item.category_id })" >
                                @if (item.category_id == 1)
                                {
                                    <img style="height:350px" st class="card-img-top" src="~/Image/AoThun/@item.ImageSP" />
                                }
                                @if (item.category_id == 2)
                                {
                                    <img style="height:350px" st class="card-img-top" src="~/Image/SoMi/@item.ImageSP" />
                                }
                                @if (item.category_id == 5)
                                {
                                    <img style="height:350px" st class="card-img-top" src="~/Image/AoKhoac/@item.ImageSP" />
                                }
                                @if (item.category_id == 6)
                                {
                                    <img style="height:350px" st class="card-img-top" src="~/Image/AoKhoac/@item.ImageSP" />
                                }

                                @if (item.category_id == 7 || item.category_id == 8)
                                {
                                    <img style="height:350px" st class="card-img-top" src="~/Image/QuanDai/@item.ImageSP" />
                                }
                                @if (item.category_id == 9 && item.category_id == 9)
                                {
                                    <img style="height:350px" st class="card-img-top" src="~/Image/QuanShort/@item.ImageSP" />
                                }
                                @if (item.category_id == 10 || item.category_id == 11)
                                {
                                    <img style="height:350px" st class="card-img-top" src="~/Image/VayDam/@item.ImageSP" />
                                }
                                @if (item.category_id == 12 || item.category_id == 13)
                                {
                                    <img style="height:350px" st class="card-img-top" src="~/Image/NonGiay/@item.ImageSP" />
                                }


                            </a>
                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart add-to-cart-btn">
                                    <!-- <div class="spinner-grow" >
                                <span class="sr-only">Loading...</span>
                            </div> -->
                                    <i class="fa fa-cart-shopping cart"></i>
                                    Thêm vào giỏ hàng
                                </a>
                            </div>
                        </div>
                        <!-- Nut them vao gio hang -->

                        <div class="body-san-pham">
                            <div class="phan-loai">
                                <a class="link-phan-loai" href="">JumpSuit</a>
                            </div>
                            <h3 class="tieu-de">
                                <a class="tieu-de-link"
                                   href="https://theciu.vn/product/jumpsuit-nga-n-hai-day-the-c-i-u-daffy-jumpsuit">
                                    @Html.DisplayFor(modelItem => item.product_name)
                                </a>
                                <div class="gia-san-pham">@Html.DisplayFor(modelItem => item.price)</div>
                            </h3>
                        </div>
                    </div>
                 }
                </div>
            </center>
        </div>

    }


        </table>
